:root {
  --primaryColor: #F5EFF7;
  --secondColor: #D8C486;
  --ThernaryColor: #4F709C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  border: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to left top, #D8C486, #F5EFF7);

  padding: 0 2rem;
  font-size: 60%;
}

.wrapper {
  max-width: 50rem;
  width: 100%;

  border: 1px solid red;

  /* how to  fix BUG Arrow when card Hover */
  height: 50vh;
  display: flex;
  align-items: center;

  position: relative;
}

.wrapper button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: var(--ThernaryColor);
  cursor: pointer;
  color: var(--primaryColor);
  position: absolute;

  /* being center */
  top: 50%;
  transform: translateY(-50%);

  box-shadow: 0 2.5px 2px rgba(0, 0, 0, 0.20);
}

.wrapper button:active {
  transform: translateY(-46%);
}

.wrapper button:first-child {
  inset-inline-start: -1.5rem;
}

.wrapper button:last-child {
  inset-inline-end: -1.5rem;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 5px);
  gap: .45rem;
  align-items: center;

  overflow: hidden;
}

/* .carousel :where(.card, .img) {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.carousel .card {
  height: 45vh;
  background-color: var(--primaryColor);
  border-radius: .5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;

  cursor: pointer;
  transition: .5s;

  overflow: hidden;
}

.card:hover {
  height: 30rem;
}

.card .img {
  /* width: 10.41rem;
  height: 10.41rem; */
  width: 15rem;
  height: 15rem;
  margin-top: 14rem;
  transition: .5s;

  /* display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--ThernaryColor); */
}

.card:hover .img {
  margin-top: 2rem;
  scale: .75;
  box-shadow: 0 15px 20px rgba(0, 0, 0, .15);
  background-color: var(--ThernaryColor);
}

.card .img img {
  width: 100%;
  height: 100%;
  /* width: 10rem;
  height: 10rem; */
  object-fit: cover;
  object-position: center;
  border-radius: 5%;
  border: 4px solid var(--primaryColor);
}

.card h2 {
  margin: 1rem 0 1.5rem;
  font-weight: 400;
  font-size: 1rem;
  color: var(--clr);
}

.card p {
  text-align: center;
  font-weight: 200;
  line-height: 1;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0 2rem;
}

.card span {
  font-weight: 800;
  line-height: 2;
  font-size: 1rem;
}


/* Media Queries */
@media (max-width: 768px) {
  html {
    font-style: 75%;
  }

  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 4px);
  }

  .card .img {
    margin-top: 12rem;
  }
}

@media (max-width: 482px) {
  html {
    font-size: 65.5%;
  }

  .wrapper .carousel {
    grid-auto-columns: 100%;
  }

  .card .img {
    margin-top: 3rem;
  }
}