:root {
  --primaryColor: #F5EFF7;
  --secondColor: #D8C486;
  --ThernaryColor: #4F709C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  border: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to left top, #D8C486, #F5EFF7);

  padding: 0 2rem;
  font-size: 60%;
}

.wrapper {
  max-width: 50rem;
  width: 100%;

  position: relative;
}

.wrapper button {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: var(--ThernaryColor);
  cursor: pointer;
  color: var(--primaryColor);
  position: absolute;

  /* being center */
  top: 50%;
  transform: translateY(-50%);

  box-shadow: 0 2.5px 2px rgba(0, 0, 0, 0.20);
}

.wrapper button:active {
  transform: translateY(-46%);
}

.wrapper button:first-child {
  inset-inline-start: -1.5rem;
}

.wrapper button:last-child {
  inset-inline-end: -1.5rem;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 5px);
  gap: .5rem;

  overflow: hidden;
}

.carousel :where(.card, .img) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .card {
  height: 20rem;
  background-color: var(--primaryColor);
  border-radius: .5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;

  cursor: pointer;
}

.card .img {
  background-color: var(--ThernaryColor);
  width: 10.41rem;
  height: 10.41rem;
  border-radius: 50%;

  /* display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--ThernaryColor); */
}

.card .img img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 4px solid var(--primaryColor);
}

.card h2 {
  margin-top: 1rem;
  font-weight: 300;
}

.card span {
  font-weight: 800;
  line-height: 2;
}


/* Media Queries */
@media (max-width: 768px) {
  html {
    font-style: 75%;
  }

  .wrapper .carousel {
    grid-auto-columns: calc(100% / 2);
  }
}

@media (max-width: 480px) {
  html {
    font-size: 65.5%;
  }

  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}